<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Markdown Example</title>
  <link rel="stylesheet" type="text/css" href="/styles/markdown.css">

<!--
  <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
-->

  <link rel="stylesheet" href="/styles/highlight/default.min.css">
  <script src="/styles/highlight//highlight.min.js"></script>

  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>

{{page_markdown}}

</body>
</html>

